<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.aloha.products.mapper.ProductMapper">

  <select id="list" resultType="Product">
        SELECT *
        FROM products
  </select>

  <select id="select" resultType="Product">
        SELECT *
        FROM products
        WHERE no = #{no}
  </select>

  <select id="selectById" resultType="Product">
        SELECT *
        FROM products
        WHERE id = #{id}
  </select>

  <insert id="insert">
      INSERT INTO products ( id, title, content, img )
      VALUES ( #{id}, #{title}, #{content}, #{img} )
  </insert>

  <update id="update">
      UPDATE products
         <set>
            <if test="title != null">
                  title = #{title},
            </if>
            <if test="content != null">
                  content = #{content},
            </if>
            <if test="img != null">
                  img = #{img},
            </if>
         </set>
      WHERE no = #{no}
  </update>

  <update id="updateById">
      UPDATE products
         <set>
            <if test="title != null">
                  title = #{title},
            </if>
            <if test="content != null">
                  content = #{content},
            </if>
            <if test="img != null">
                  img = #{img},
            </if>
         </set>
      WHERE id = #{id}
  </update>

  <delete id="delete">
      DELETE FROM Products
      WHERE no = #{no}
  </delete>

  <delete id="deleteById">
      DELETE FROM Products
      WHERE id = #{id}
  </delete>
  
  </mapper>